<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="harpoon-dev"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=harpoon_dev;Integrated Security=True;Pooling=False;multipleactiveresultsets=true"
         />
	<add name="harpoon-prod"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=harpoon;Integrated Security=True;Pooling=False;multipleactiveresultsets=true"
         />
  </connectionStrings>
</configuration>