<div class="submit-button-box">
    <div class="submit-button">
        <input type="submit" value="Добавить комментарий" />
    </div>
    <div class="comment-progress-box">
        <div id="comment-progress" style="display: none;">
            <img src='@Href("~/Content/Images/loading-progress.gif")' alt="Ждите" />
        </div>
    </div>
</div>
