<div class="comment-markup-box hidden cleared-box">
    <div class="comment-markup-content">
        <table class="tuned-table">
            <tr>
                <td>
                    <nobr>
                        <span class="bbtag">[i]</span>
                            <i>курсив</i>
                        <span class="bbtag">[/i]</span>
                    </nobr>
                </td>
                <td>
                    <nobr>
                        <span class="bbtag">[b]</span>
                            <b>жирный</b>
                        <span class="bbtag">[/b]</span>
                    </nobr>
                </td>
            </tr>
            <tr>
                <td>
                    <nobr>
                        <span class="bbtag">[quote]</span>
                            цитата
                        <span class="bbtag">[/quote]</span>
                    </nobr>
                </td>
                <td>
                    <nobr>
                        <span class="bbtag">[code]</span>
                            <code>программный код</code>
                        <span class="bbtag">[/code]</span>
                    </nobr>
                </td>
            </tr>
            <tr>
                <td>
                    <nobr>
                        <span class="bbtag">[url=http://google.com]</span>
                            <a href="http://google.com">ссылка</a> 
                        <span class="bbtag">[/url]</span>
                    </nobr>
                </td>
            </tr>
        </table>
    </div>
</div>
